<a href="https://colab.research.google.com/github/casnz1601/ids706-week9-notebook/blob/main/data-manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import necessary libraries
import pandas as pd

# Create a simple dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}

df = pd.DataFrame(data)

# Display the dataset
print(df)

# Basic data manipulation
# 1. Filter employees older than 30
print(df[df['Age'] > 30])

# 2. Calculate the average salary
print(df['Salary'].mean())

# 3. Add a new employee
df = df.append({'Name': 'Eva', 'Age': 28, 'Salary': 55000}, ignore_index=True)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
      Name  Age  Salary
2  Charlie   35   70000
3    David   40   80000
65000.0
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
4      Eva   28   55000

<ipython-input-1-cd47b86afa2a>:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Name': 'Eva', 'Age': 28, 'Salary': 55000}, ignore_index=True)